<h1>Login</h1>
<div layout="column" layout-align="center">
    <md-button class="md-raised md-primary" flex href="#/auth/register">register new account</md-button>
    <md-button class="md-raised md-primary" flex href="#/auth/login">login</md-button>

    <md-button class="md-raised md-primary" flex ng-click="googleplus()">login with Google +</md-button>
    <md-button class="md-raised md-primary" flex ng-click="facebook()">login with Facebook</md-button>

    <md-button class="md-raised md-primary" flex href="#/auth/reset">reset your password</md-button>
</div>
