<div class="profile">
    <md-content>

        <md-input-container class="md-block" flex-gt-sm>
            <label>الاسم الاوب</label>
            <input ng-model="user.first_name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>الاسم الاخير</label>
            <input ng-model="user.last_name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>البريد الالكتروني</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>كلمة المرور</label>
            <input ng-model="user.password" type="password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>تأميد كلمة المرور</label>
            <input ng-model="user.password_confirmation" type="password">
        </md-input-container>

        <div class="update" ng-click="update()">حفظ</div>

    </md-content>
</div>
