<div id="page" class="fullscreen auth">
    <img class="logo" src="img/logo_landscape.png" alt="logo_landscape">
    
    <div class="padding" layout="column" layout-align="center">
        <md-input-container>
            <label>Email</label>
            <input ng-model="email" type="email">
        </md-input-container>
    </div>
    <div class="md-raised md-primary button register" flex ng-click="reset()">reset your password</div>
    <a class="md-raised md-primary button register" flex href="#/auth">Back</a>
</div>
