<div class="article" id="article-{{ article.item_id }}">
    <div class="article_header clearfix" ng-click="hideContent()">
        <img ng-if="article.thumbnail" ng-src="{{ article.thumbnail }}" alt="">
        <h3>{{ article.channel_name }}</h3>
        <h5>{{ article.date_published }}</h5>
    </div>
    <div class="article_body">
        <h2 ng-click="hideContent()">{{ article.title }}</h2>
        <div class="content" ng-show="showContent">
            {{ article.summary }}
            <div class="read_more">
                <a href="#/article/{{ article.item_id }}">read more</a>
            </div>
        </div>
    </div>
    <div class="article_footer clearfix">
        <div><i></i>share</div>
        <div class="favorite" ng-click="favorite()"><i></i>favorite</div>
        <div class="later" ng-click="later()"><i></i>later</div>
    </div>
</div>
