<div class="article" id="article-{{ article.item_id }}">
    <div class="article_header clearfix" ng-click="hideContent()">
        <img ng-if="article.thumbnail" ng-src="{{ article.website_image }}" alt="">
        <h3>{{ article.website_name }}</h3>
        <h5>{{ article.date_published | time }}</h5>
    </div>
    <div class="article_body">
        <img ng-if="article.thumbnail" ng-click="hideContent()" ng-src="{{ article.thumbnail }}" alt="">
        <h2 ng-click="hideContent()">{{ article.title }}</h2>
        <div class="content" ng-show="showContent">
            {{ article.summary }}
            <div class="read_more">
                <a href="#/article/{{ article.item_id }}">أقرأ المزيد</a>
            </div>
        </div>
    </div>
    <div class="article_footer clearfix">
        <div><i class="alsharq-share"></i>شارك</div>
        <div class="favorite" ng-click="favorite()"><i class="alsharq-favorite"></i>المفضلة</div>
        <div class="later" ng-click="later()"><i class="alsharq-schedule"></i>القراءة لاحقا</div>
    </div>
</div>
