<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;font-src 'self' data:; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; object-src 'self'; media-src *">

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta name="format-detection" content="telephone=no">

    <title>Al Sharq</title>

    <link rel="stylesheet" href="js/libs/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body app-ready="appReady()" ng-controller="RootController" md-swipe-right="openSidebar('mainSidebar')" md-swipe-left="openSidebar('shortcutSidebar')">
    <!-- loading page -> removed after app loaded -->

    <div id="appContainer">
        <!-- header -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button ng-if="isHome" class="md-icon-button" aria-label="Menu" ng-click="openSidebar('mainSidebar')">
                    <md-icon class="alsharq-menu"></md-icon>
                </md-button>
                <md-button ng-if="!isHome" class="md-icon-button" aria-label="Back" ng-click="back()">
                    <md-icon class="alsharq-arrow_back"></md-icon>
                </md-button>
                <h2>
                    <span>{{ pageTitle }}</span>
                </h2>
                
                <span flex></span>
                
                <md-button aria-label="notifications" class="md-icon-button" ng-click="openSidebar('shortcutSidebar')">
                    <md-icon md-menu-origin class="alsharq-more_vert"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <!-- main sidebar -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="mainSidebar">
            <md-content layout-padding>
                <md-list>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('profile')">
                        <md-icon md-menu-origin class="alsharq-person"></md-icon><p> My Profile </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('home')">
                        <md-icon md-menu-origin class="alsharq-home"></md-icon> <p> Home </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('auth')">
                        <md-icon md-menu-origin class="alsharq-accessibility"></md-icon> <p> Login </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('chapters')">
                        <md-icon md-menu-origin class="alsharq-picture_as_pdf"></md-icon><p> Chapters </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('forms')">
                        <md-icon md-menu-origin class="alsharq-print"></md-icon><p> Forms </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('about')">
                        <md-icon md-menu-origin class="alsharq-info"></md-icon><p> About us </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('contact')">
                        <md-icon md-menu-origin class="alsharq-mail_outline"></md-icon> <p> Contact Us </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="goTo('become_franchise')">
                        <md-icon md-menu-origin class="alsharq-send"></md-icon> <p> Become Franchise </p>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="logout()">
                        <md-icon md-menu-origin class="alsharq-exit_to_app"></md-icon><p> Logout </p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <div id="page">
            <div ng-view></div>
        </div>

        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="shortcutSidebar">
            <md-content>
                shourtcuts
            </md-content>
        </md-sidenav>
    </div>

    <!-- Scripts -->

    <!-- cordova generated script -->
    <script type="text/javascript" src="cordova.js"></script>

    <!-- Libs -->
        <!-- Angular -->
        <script src="js/libs/angular/angular.min.js"></script>
        <!-- Routes -->
        <script src="js/libs/angular-route/angular-route.min.js"></script>
        <!-- Message -> for material -->
        <script src="js/libs/angular-messages/angular-messages.min.js"></script>
        <!-- Aria -> for material -->
        <script src="js/libs/angular-aria/angular-aria.min.js"></script>
        <!-- Animate -> for material -->
        <script src="js/libs/angular-animate/angular-animate.min.js"></script>
        <!-- Material Design -->
        <script src="js/libs/angular-material/angular-material.min.js"></script>

    <!-- init app -->
    <script src="js/App.js"></script>
    <script src="js/utils/Config.js"></script>
    <script src="js/utils/Routes.js"></script>

    <!-- controllers -->
    <script scr="js/controllers/RootController.js"></script>
    <script scr="js/controllers/AuthController.js"></script>
    <script scr="js/controllers/CatsWritersController.js"></script>
    <script scr="js/controllers/HomeController.js"></script>
    <script scr="js/controllers/OwnArticlesController.js"></script>
    <script scr="js/controllers/OwnCountriesController.js"></script>
    <script scr="js/controllers/OwnInterestsController.js"></script>
    <script scr="js/controllers/OwnKeywordsController.js"></script>
    <script scr="js/controllers/OwnWebsitesController.js"></script>
    <script scr="js/controllers/ProfileController.js"></script>

    <!-- factories -->
    <script scr="js/factories/ArticleFactory.js"></script>
    <script scr="js/factories/AuthFactory.js"></script>
    <script scr="js/factories/CommentFactory.js"></script>
    <script scr="js/factories/ContactFactory.js"></script>
    <script scr="js/factories/CountryFacroty.js"></script>
    <script scr="js/factories/FeedFactory.js"></script>
    <script scr="js/factories/InterestFactory.js"></script>
    <script scr="js/factories/KeywordFactory.js"></script>
    <script scr="js/factories/SubscriptionFactory.js"></script>
    <script scr="js/factories/WebsiteFactory.js"></script>

    <!-- services -->

    <!-- directives -->

    <!-- filters -->

    <!-- values -->
    <script src="js/values/Config.js"></script>
    <script src="js/values/testData.js"></script>
    <script src="js/values/API.js"></script>
    <script src="js/values/Title.js"></script>

</body>
</html>
