<div id="page">
    <md-list-item class="list-title">
        <p> تطبيق شرق </p>
    </md-list-item>

    <md-list-item>
        <p><i class="alsharq-navigate_before"></i> تصفح المواقع اﻷخبارية </p>
    </md-list-item>

    <md-list-item class="list-title">
        <p> العنوان </p>
    </md-list-item>
    <md-list-item>
        <p> شارع مكة<br>عمارة الحجاج
            <br>
            <br>
            <a target="_system" href="https://www.google.com/maps?q=loc:52.5521745,13.4313189(%D8%B4%D8%A7%D8%B1%D8%B9+%D9%85%D9%83%D8%A9%D8%B9%D9%85%D8%A7%D8%B1%D8%A9+%D8%A7%D9%84%D8%AD%D8%AC%D8%A7%D8%AC)">اضغط هنا لعرض الخريطة</a>
        </p>
    </md-list-item>

    <md-list-item class="list-title">
        <p> رقم الهاتف </p>
    </md-list-item>

    <md-list-item>
        <p> <a href="tel:+491732863567">+491732863567</a> </p>
    </md-list-item>

    <md-list-item class="list-title">
        <p> رقم الجوال </p>
    </md-list-item>

    <md-list-item>
        <p> <a href="tel:+491732863567">+491732863567</a> </p>
    </md-list-item>

    <md-list-item class="list-title">
        <p> فاكس </p>
    </md-list-item>

    <md-list-item>
        <p> +491732863567 </p>
    </md-list-item>

    <md-list-item class="list-title">
        <p> البريد الالكتروني </p>
    </md-list-item>

    <md-list-item>
        <p> <a href="#"><a href="mailto:rakan.alhneiti@gmail.com">rakan.alhneiti@gmail.com</a></a> </p>
    </md-list-item>

    <md-list-item class="list-title">
        <p> صفحتنا على الفيس بوك </p>
    </md-list-item>

    <md-list-item>
        <p> <a href="#"><a href="http://facebook.com">facebook.com</a></a> </p>
    </md-list-item>

</div>
