<div id="page">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Categories">
            <md-content class="md-padding">
                <md-list>
                    <md-list-item ng-repeat="cat in cats" ng-click="subscribe(cat.id, 'cats', $index)" ng-class="{subscribed: cat.is_subscribed}">
                        <p> {{ cat.title }} </p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Writers">
            <md-content class="md-padding">
                <md-list-item ng-repeat="writer in writers" ng-click="subscribe(writer.id, 'writers', $index)" ng-class="{subscribed: cat.is_subscribed}">
                    <p> {{ writer.title }} </p>
                </md-list-item>
            </md-content>
        </md-tab>
    </md-tabs>
</div>
