* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

md-icon {
    font-size: 1.5em;
}

#page {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.md-toolbar-tools{
    background-color: #1bdeed;
}
.fullscreen {
    position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #ccc;
}

.auth {
    background: #333;
}
.auth img {
    max-width: 100%;
}

.auth button {
    background: #333;
    box-shadow: none;
    border: none;
    outline: none;
    margin: 0 0 15px 0;
}
.auth a {
    text-align: center;
    margin: 10px;
    color: #fff;
    text-decoration: none;
}
.auth .button {
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    display: block;
}
.auth .new {
    background: #fbb03b;
}
.auth .login {
    background: #0b8bc0;
}
.auth .register {
    background: #1bdeed;
}
.auth .padding {
    padding: 20px;
}

.auth md-input-container.md-default-theme label, .auth md-input-container label, .auth md-input-container.md-default-theme .md-placeholder, .auth md-input-container .md-placeholder {
    color: #ffffff;
}
.auth md-input-container.md-default-theme .md-input, .auth md-input-container .md-input {
    border-color: rgba(255,255,255,0.3);
}
.auth md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, .auth md-input-container:not(.md-input-invalid).md-input-focused label {
    color: rgb(255, 255, 255);
}
.auth md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, .auth md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: rgb(255, 255, 255);
}
.auth md-input-container.md-default-theme .md-input, .auth md-input-container .md-input {
    color: #ffffff;
}
.auth md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, .auth md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #ffffff;
}

.title{
    background-color: rgba(193, 193, 193, 0.59);
    height: 85px;
    text-align: center;
    font-size: 18px;
    padding: 18px 18px 18px 18px;
}




